<div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">Formation Management</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/login" routerLinkActive="active">LOGIN</button>
    </mat-toolbar>
</div>



<div *ngIf="isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">Admin DASHBOARD</span>
        <span class="spacer"></span>
        <button mat-button routerLink="" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/admin/students" routerLinkActive="active">Liste utilisateur</button>
      <button mat-button routerLink="/admin/formations" routerLinkActive="active">Liste de Formations</button>
      <button mat-button routerLink="/admin/seances" routerLinkActive="active">Planing</button>
      <button mat-button routerLink="/admin/teachers" routerLinkActive="active">Liste de formateur</button>
      <button mat-button routerLink="/admin/certificats" routerLinkActive="active">Certificats</button>
      <button mat-button routerLink="/admin/permits" routerLinkActive="active">Permissions</button>
      <button mat-button routerLink="/chat" routerLinkActive="active">CHAT</button>

      <button mat-button (click)="logout()" routerLinkActive="active">LOGOUT</button>
    </mat-toolbar>
</div>


<div *ngIf="isStudentLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">Student DASHBOARD</span>
        <span class="spacer"></span>
      <button mat-button routerLink="" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/student/dashboard" routerLinkActive="active">Profil</button>
      <button mat-button routerLink="/student/formations" routerLinkActive="active">Formations</button>
      <button mat-button routerLink="/student/seances" routerLinkActive="active">SEANCES</button>
      <button mat-button routerLink="/chat" routerLinkActive="active">CHAT</button>

      <button mat-button routerLink="/student/permit" routerLinkActive="active">PERMIT</button>
        <button mat-button routerLink="/student/permits" routerLinkActive="active">MY PERMITS</button>
        <button mat-button (click)="logout()" routerLinkActive="active">LOGOUT</button>
    </mat-toolbar>
</div>


<router-outlet></router-outlet>
